/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background-color: #549dcaec;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background-color: #2c6d96;
  /* font-size: 2rem; */
}

/* Nav Section With Hero */

.main-head {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 0.1rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: bolder;
}

.logo-style {
  font-family: "Pattaya", sans-serif;
  font-weight: bolder;
}

.hero {
  min-height: 90vh;
  background-image: linear-gradient(rgba(48, 26, 2, 0.925), transparent),
    url("img/hill\ view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* B ENEFITS SECTION*/

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/adult\ adventure.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  position: relative;
  overflow: hidden;
  /* z-index: 6; */
}

.locations-head {
  width: 50%;
  margin-left: 40%;
  position: relative;
  z-index: 6;
}

.locations-head h2 {
  padding: 2rem 0rem;
  font-size: 3.8rem;
  margin-bottom: 1rem;
  /* text-decoration: underline; */
  /* text-decoration-thickness: 0.3rem; */
}

.locations-head h3 {
  padding: 1rem 0rem;
  font-size: 2.5rem;
  font-weight: bolder;
  background: linear-gradient(to right, #183e5c, #1e0d5b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: transparent; */
}

.cloud {
  position: absolute;
  width: 50rem;
  top: 0%;
  right: 0%;
  pointer-events: none;
  /* overflow: hidden; */
}

.moving-cloud-1 {
  top: -45%;
  right: -20%;
  opacity: 0.5;
  animation: movingCloud 41s infinite alternate ease-in-out;
  z-index: 3;
}
.moving-cloud-2 {
  top: -40%;
  right: -40%;
  opacity: 0.5;
  animation: movingCloud 40s infinite alternate ease-in-out;
  z-index: 2;
}

@keyframes movingCloud {
  0% {
    transform: translate(-155%);
  }
  /* 50% {

  } */
  100% {
    transform: translate(0%, 0%);
  }
}

/* The Benefits Section */
.benefits-head {
  background: linear-gradient(
    90deg,
    rgba(56, 213, 255, 1) 10%,
    rgba(250, 130, 255, 1) 90%
  );
  min-height: 30vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0a0a0a;
  text-align: center;
}

.benefits-head h3 {
  font-size: 2.3rem;
  font-weight: bolder;
  padding: 1rem;
}

.cards {
  width: 84%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.cards img {
  max-width: 35%;
  margin: 2rem;
}

.card h4 {
  padding: 2rem;
}
.card p {
  word-spacing: 0.2rem;
  line-height: 3.5rem;
}

.card-icon {
  background-color: #1e0d5b;
  border-top-right-radius: 1.5rem;
}

.card {
  /* background: rgba(98, 89, 218, 0.61); */
  flex: 1 1 20rem;
  min-height: 60vh;
  margin: 1rem 5rem;
  text-align: center;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1), 0px 15px 60px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 1.5rem;
}
/* Contacts */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(80, 18, 18, 0.5), transparent),
    url("img/canyon-arizona-1672813.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(3, 2, 58, 0.5);
  width: 45%;
  color: #ffffff;
  border-radius: 1.5rem;

  /* margin: auto; */
  /* display: flexbox; */
}

.form-head {
  padding: 4rem;
  text-align: center;
}

.form-head h2 {
  font-size: 4rem;
}
.name-form,
.email-form {
  padding: 2rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 1.5rem;
  font-size: 2rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 6rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.form-wrapper input {
  padding: 0.7rem 3rem;
}

/* Footer */
footer {
  color: black;
  background: white;
}

small {
  font-size: 1.5rem;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  /* justify-content: center; */
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  align-items: center;
}

/* MEDIA Query */
@media screen and (max-width: 992px) {
  nav {
    text-align: center;
  }
  nav ul {
    margin-bottom: 1rem;
  }
  #logo {
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .locations-head {
    margin: auto;
    justify-content: center;
    text-align: center;
    /* font-size: medium; */
  }

  .locations-head h2 {
    font-size: 3.4rem;
    text-align: center;
  }

  .locations-head h3 {
    font-size: 2rem;
    text-align: center;
    justify-content: space-around;
  }

  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    top: -10%;
  }
  .moving-cloud-2 {
    top: -20%;

    /* z-index: 4; */
  }
  .form-wrapper {
    /* width: 10%; */
    flex-basis: 40rem;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
}

/* @media screen and (max-width: 400px) {
  .cards {

    /* margin: 1rem 1rem; */
/* }
} */
